<!DOCTYPE html>

<head>
  <title>OpenAI Quickstart</title>
  <link rel="shortcut icon" href="{{ url_for('static', filename='dog.png') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
  <script src="https://kit.fontawesome.com/91adf24b75.js" crossorigin="anonymous"></script>
</head>

<body>
  <i class="fa-solid fa-circle-half-stroke fa-4x fa-flip" style="--fa-animation-duration: 4s; color: #5acbfa;"></i>
  <h3>Rephrase the text</h3>
  <form action="/" method="post">
    <textarea name="text" placeholder="Enter the text to rephrase" required></textarea>
    <input type="submit" value="Rephrase text" />
  </form>
  {% if result %}
  <div class="result">{{ result }}</div>
  {% endif %}
</body>
